<div style="text-align: center">
  <img
    style="margin-top: 40px"
    src="imagenes_menu/Logo_condosa.png"
    alt="Logo de la marca"
    id="logo"
  />
</div>
<div style="text-align: center">
  <h1 style="text-align: center">Administración eficiente, vecinos felices</h1>
</div>

<div class="container">
  <h3 style="text-align: center">
    SIGCON es un software de administración de edificios y condominios que te
    ayudará a gestionar tu comunidad con más eficiencia, más transparencia y una
    mejor comunicación.
  </h3>
  <div class="item">
    <img src="imagenes_menu/areasComunes.png" alt="areas_comunes" />
    <h5 style="text-align: center">Administración</h5>
    <p style="font-size: 17px">
      Disfruta de comodidad y conveniencia en las increíbles áreas comunes! Las
      propiedades pueden contar con espacios como gimnasio, parque interno,
      amplia terraza y cocheras seguras. ¡Equipa tu vivienda a tu gusto!
    </p>
    <button type="submit" class="btn btn-primary btn-cotizar">Cotizar</button>
  </div>

  <div class="item">
    <img src="imagenes_menu/guardias.jpg" alt="Guardias" />
    <h5 style="text-align: center">Guardias de seguridad 24/7</h5>
    <p style="font-size: 17px">
      ¡Seguridad y tranquilidad garantizada para tu hogar! Nos preocupamos por
      tu bienestar y la protección de tus seres queridos. Es por eso que
      ofrecemos un servicio de guardias altamente capacitados y confiables.
    </p>
    <button type="submit" class="btn btn-primary btn-cotizar">Cotizar</button>
  </div>

  <div class="item">
    <img src="imagenes_menu/limpieza.jpg" alt="Limpieza" />
    <h5 style="text-align: center">Servicio de limpieza</h5>
    <p style="font-size: 17px">
      Mantén tu hogar impecable y reluciente con el servicio de personal de
      limpieza. En Condosa, entendemos que un espacio limpio y ordenado es
      esencial para crear un ambiente acogedor y confortable.
    </p>
    <button type="submit" class="btn btn-primary btn-cotizar">Cotizar</button>
  </div>
  <div class="item">
    <img src="imagenes_menu/jardinero.jpg" alt="jardinero" />
    <h5 style="text-align: center">Servicio de jardinería</h5>
    <p style="font-size: 17px">
      El equipo de jardineros altamente capacitados está listo para transformar
      tu jardín en un verdadero paraíso.
    </p>
    <button type="submit" class="btn btn-primary btn-cotizar">Cotizar</button>
  </div>
</div>
